// Core variables and mixins
@import "../bootstrap/less/variables.less"; // Modify this for custom colors, font-sizes, etc
@import "../bootstrap/less/mixins.less";

// Reset
@import "../bootstrap/less/normalize.less";

// Grid system and page structure
@import "../bootstrap/less/scaffolding.less";
@import "../bootstrap/less/grid.less";

// Base CSS
@import "../bootstrap/less/type.less";
@import "../bootstrap/less/code.less";
@import "../bootstrap/less/forms.less";
@import "../bootstrap/less/tables.less";

// Components: common
@import "../bootstrap/less/glyphicons.less";
@import "../bootstrap/less/dropdowns.less";
@import "../bootstrap/less/wells.less";
@import "../bootstrap/less/component-animations.less";
@import "../bootstrap/less/close.less";

// Components: Buttons & Alerts
@import "../bootstrap/less/buttons.less";
@import "../bootstrap/less/button-groups.less";
@import "../bootstrap/less/alerts.less";

// Components: Nav
@import "../bootstrap/less/navs.less";
@import "../bootstrap/less/navbar.less";
@import "../bootstrap/less/breadcrumbs.less";
@import "../bootstrap/less/pagination.less";
@import "../bootstrap/less/pager.less";

// Components: Popovers
@import "../bootstrap/less/modals.less";
@import "../bootstrap/less/tooltip.less";
@import "../bootstrap/less/popovers.less";

// Components: Misc
@import "../bootstrap/less/thumbnails.less";
@import "../bootstrap/less/media.less";
@import "../bootstrap/less/badges.less";
@import "../bootstrap/less/progress-bars.less";
@import "../bootstrap/less/accordion.less";
@import "../bootstrap/less/carousel.less";
@import "../bootstrap/less/jumbotron.less";

// Utility classes
@import "../bootstrap/less/utilities.less"; // Has to be last to override when necessary

// Responsive
// -------------------------------------------------------------

// Responsive utility classes
@import "../bootstrap/less/responsive-utilities.less";


// Media queries
// ------------------

// Large desktops
@import "../bootstrap/less/responsive-1200px-min.less";

// Tablets to regular desktops
@import "../bootstrap/less/responsive-768px-979px.less";

// Phones to portrait tablets and narrow desktops
@import "../bootstrap/less/responsive-767px-max.less";


// Responsive navbar
// From 979px and below, show a button to toggle navbar contents
@import "../bootstrap/less/responsive-navbar.less";

// // Bootstrap Docs
@import "docs.less";

// Custom Mixins
@import "easing.less";
@import "mask-image.less";

// RefTagger
// =========
@import "reftagger.less";

// Logo
@import "logo.less";

// Google Fonts
@import "oldstandard.less";


// Color Variables
// ===============

@color-white: #fff;
@color-black: #333;
@color-gray-light: #e9e9e9;
@color-body: @color-white;
@color-accent: #dd3838;
@color-mast: @color-accent;

// Dimension Variables
// ===================

@base: 10px;

// Font Variables
// ==============

@font-face {
    font-family: 'LeagueGothic-Regular';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: local('O'),
         url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-regular-webfont.svg#LeagueGothic-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@helvetica: 'Helvetica Neue', Arial, Helvetica, sans-serif;
@oldstandard: 'Old Standard TT', Georgia, Times, serif;
@league: 'LeagueGothic-Regular', 'Helvetica Neue', Arial, Helvetica, sans-serif;

// RESPONSIMAGE
// ============

@media (-webkit-min-device-pixel-ratio: 2) {

  [data-responsimage] {
    font-family: 'pixel-ratio-2';
  }
}

// Logo
// ====

.logo {
  font-family: Determine;
  text-transform: lowercase;
  font-weight: normal;
  position: relative;
  top: 0;
  margin-right: -3px;
}

// Bootstrap Overrides
// ===================

// Border Radius

.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

@link-color: @color-accent;
@border-radius-base: 0px;
@border-radius-large: @border-radius-base;
@border-radius-small: @border-radius-base;
@btn-background-primary-highlight: darken(@btn-background-primary, 5%);

.navbar {

  .btn-navbar {
    background: darken(@color-accent, 10%);
    border-color: darken(@color-accent, 15%);
    .border-radius(0);
    position: relative;
    top: -3px;

    &:hover {
      background: darken(@color-accent, 15%);
    }
  }

}

.carousel {
  margin-bottom: 0px;
}

// Glyphicon Tweaks

.icon-large {
  font-size: 64px;

  &.huge {
    font-size: 100px;
  }
}

.icon-huge {
  font-size: 96px;
}

.icon-white {
  color: #fff;
}

.icon-black {
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.logo {

  &.icon-large {
    display: block;
    text-align: center;
    font-size: 75px;
    padding: 25px 0;

    &.huge {
      font-size: 111px;
      padding: 42px 0;
    }
  }

}

// General Tweaks

hr.soften {
  margin: 40px 0;
}

// HTML Elements
// =============

a {
  -webkit-transition: color 150ms ease-in-out, background 150ms ease-in-out;

  &:hover {
    text-decoration: none;
  }
}

::-moz-selection {
  background-color: @color-accent;
  color: @color-body;
}

::selection {
  background-color: @color-accent;
  color: @color-body;
}

// Styles
// ======

.accent {
  background: @color-accent;
}

.stripe {
  left: 0;
  width: 100%;
  padding: 30px 0;

  h3 {
    color: #5a5a5a;
    margin-bottom: 20px;
    font-family: @league;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: normal;
    letter-spacing: 0.03em;
  }

  &.first {
    background: lighten(@color-gray-light, 5%);
    border-top: 1px solid @color-gray-light;
  }

  &.second {
    border-top: 1px solid @color-gray-light;
  }

  &.third {
    background: lighten(@color-gray-light, 5%);
    border-top: 1px solid @color-gray-light
  }

  &.fourth {
    border-top: 1px solid @color-gray-light;
  }

}

.grid {

  &.first {
    margin-bottom: 40px;
  }
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;

  &.float {
    float: right;
    clear: both;
  }
}

.summary {
  font-family: @oldstandard;
}

// Advanced Styles
// ===============

body > .navbar .brand {
  position: relative;
  top: 7px;
  left: 0;
  float: left;
  margin-left: 0;
  font-size: 38px;
  color: darken(@color-accent, 30%);
  text-shadow: 0 1px 0 lighten(@color-accent, 10%);

  &:hover {
    text-shadow: 0 -1px 0 darken(@color-accent, 25%);
  }
}

.navbar {
  background: darken(@color-accent, 2%);
  border: none;
  .box-shadow(inset 0 -2px 12px rgba(0,0,0,0.1));

 .title {
    font-weight: bold;
    position: relative;
    top: 18px;
    font-size: 32px;
    color: darken(@color-accent, 30%);
    text-shadow: 0 1px 0 rgba(255,255,255,0.25);

    &:hover {
      text-decoration: none;
      color: darken(@color-accent, 35%);
    }

    i {
      background: darken(@color-accent, 30%);
      .border-radius(100%);
      font-size: 14px;
      position: relative;
      top: -5px;
      padding: 7px 9px;
      color: #fff;
    }
  }

  .nav {

    li {
      font-family: @oldstandard;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 18px;

      &.active {

        a {
          background: darken(@color-accent, 20%);
          border-left: 1px solid darken(@color-accent, 20%);
          &:hover {
            background: darken(@color-accent, 30%);
          }
        }
      }

      &:last-child {
        a {
          border-right: 1px solid darken(@color-accent, 10%);
        }
      }

      a {
        height: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        border-left: 1px solid darken(@color-accent, 10%);

        .badge {
          background: @color-white;
          color: @color-accent;
          text-shadow: none;
          position: relative;
          top: -2px;
        }

        &[data-toggle="dropdown"] {
          height: 20px;
        }

        &:hover {
          background: darken(@color-accent, 20%);
          border-color: darken(@color-accent, 20%);
        }


      }

      .dropdown-menu {

        li {
          a {
            color: @color-accent;
            border: none;

            &:hover {
              background: @color-accent;
              color: @color-white;
            }
          }
        }
      }

    }

  }

}

.jumbotron {
  .border-radius(0);
  border-top: 1px solid lighten(@color-accent, 2%);
  margin-top: 16px;

  &.masthead {
    padding: 38px 0 40px 0;
    background: darken(@color-accent, 2%);
    .box-shadow(none);
    border-bottom: none;

    h2 {
      color: darken(@color-accent, 10%);
      text-shadow: 0 -1px 0 darken(@color-accent, 15%), 0 1px 0 lighten(@color-accent, 4%);
      font-size: 48px;
    }

    p {
      margin-bottom: 0;
      padding: 0 30px;

      &.vision {
        font-size: 32px;
        text-align: center;

        a {
          color: #fff;
          border-bottom: 3px dotted darken(@color-accent, 10%);
        }
      }

    }

    .carousel {
      padding: 0;

      .item {

        cite {
          text-transform: uppercase;
          text-align: left;
          font-weight: bold;
          padding: 0 30px;
          margin: 40px 0 0 0;
          font-size: 16px;
          color: darken(@color-accent, 20%);
          text-shadow: 0 1px 0 rgba(255,255,255,0.15);
        }

      }
    }

  }

  &.subhead {
    background: darken(@color-accent, 2%);
    .box-shadow(none);
    padding: 50px 0 60px 0;
    border-bottom: none;

  }
}

// EDIT LINKS
// ==========

.edit {
  position: relative;
  top: -2px;


  .badge {
    background: darken(@color-white, 10%);
    color: @color-white;
    text-shadow: none;

    &:hover {
      background: darken(@color-white, 15%);
    }
  }
}

.page-headers {

  h1 {
    margin-top: 0;

    a {
      color: darken(@color-accent, 15%);
      text-shadow: 0 1px 0 lighten(@color-accent, 5%), 0 -1px 0 darken(@color-accent, 10%);
      text-align: left;
      font-size: 72px;
      font-family: @league;
      text-transform: uppercase;
      letter-spacing: 0.04em;

      .logo {
        margin-right: -30px;
        display: inline-block;
      }


      &:hover {
        color: #fff;
        text-shadow: 0 1px 2px darken(@color-accent, 15%);
      }
    }
  }

  .lead {
    font-family: @oldstandard;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 24px;
  }

}

.marketing {
  margin: 40px 0;

  .marketing-byline {
    font-family: 'Old Standard TT', Georgia, Times, serif;
    font-weight: 400;
    padding: 20px 100px;
    line-height: 1.5;
  }

  &.main {

    a.icon-large {
      color: darken(@color-white, 10%);
      text-shadow: 0 -1px 0 darken(@color-white, 20%);

      &:hover {
        color: lighten(desaturate(@color-accent, 10%), 10%);
        text-shadow: none;
      }

    }

    .span6 {

      h2 {
        font-size: 54px;
        font-family: @league;
        text-transform: uppercase;
        margin-top: 25px;
        margin-bottom: 15px;
      }

      p {
        font-size: 18px;
      }
    }

    .span3 {

      h2 {
        font-size: 24px;
      }
    }

    p {
      font-family: 'Old Standard TT', Georgia, Times, serif;
      font-weight: 400;
    }

    h2 {

      a {
        color: #5a5a5a;

        &:hover {
          color: @color-accent;
        }
      }

      .badge {
        text-transform: uppercase;
        position: relative;
        top: -3px;
        padding: 5px;
      }
    }
  }
}

@month-height: 16px;
@day-height: 32px;
@calendar-height: @month-height + @day-height;
@calendar-width: @calendar-height;
@calendar-padding: 15px;

.date {
  width: @calendar-width;
  text-align: center;
  position: relative;
  height: @calendar-height;
  float: right;
  top: 10px;
  right: 10px;

  .month {
    background: @color-accent;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: @month-height;
    height: @month-height;
  }

  .day {
    background: #fff;
    font-size: 26px;
    color: #333;
    line-height: @day-height;
    height: @day-height;
  }
}

.blog-entry {
  position: relative;
  display: block;
  background: @color-white;
  .box-shadow(0 0 6px rgba(0,0,0,0.05));
  margin-bottom: 40px;

  .entry-header {
    background: lighten(@color-black, 25%);
    border: 1px solid lighten(@color-black, 25%);

    h4 {
      color: @color-white;
      padding: 5px 15px 0 15px;
      margin: 0;
      text-shadow: 0 1px 0 lighten(@color-black, 10%);
    }

    &.latest {
      background: @color-accent;
      border: 1px solid @color-accent;

      h4 {
        text-shadow: 0 1px 0 darken(@color-accent, 20%);
      }
    }


  }

  p {
    color: #999;
    padding: 0 15px;
    margin: 0;
  }

  .content {
    font-family: @oldstandard;
    font-size: 15px;
    font-weight: 300;
    padding: 15px;
    border: 1px solid darken(@color-white, 10%);
    border-top: none;
    min-height: 160px;
  }

  .blog-date {
    color: darken(@color-white, 15%);
    padding-bottom: 5px;
  }

  blockquote {
    background: #fff;
    color: #a0a0a0;
    border-left: 4px solid #a0a0a0;
    padding: 10px;
    margin-top: 15px;
    .box-shadow(0 0 6px rgba(0,0,0,0.05));

    h4 {
      margin: 0;
    }
    p {
      margin: 0 0 10px 0;
    }

    .block {
      padding-bottom: 10px;
    }

    &:hover {
      border-left: 4px solid @color-accent;
    }
  }

  &:hover {

    .content {
      color: @color-accent;
    }

    .entry-header {
      background: lighten(@color-black, 15%);

      &.latest {
        background: darken(@color-accent, 10%);
      }
    }
  }
}

.quote-entry {
  display: block;

  h4 {
    color: #777;
  }

  p {
    color: #999;
  }

  blockquote {
    font-weight: 300;
    background: #fff;
    color: #a0a0a0;
    border-left: 4px solid #a0a0a0;
    padding: 10px;
    min-height: 140px;
    .box-shadow(0 0 6px rgba(0,0,0,0.15));

    &.latest {
      border-left-color: @color-accent;

      h4, p {
        color: @color-accent;
      }

      &:hover {
        border-left: 4px solid darken(@color-accent, 10%);

        h4, p {
          color: darken(@color-accent, 10%);
        }
      }
    }

    h4 {
      margin: 0;
    }
    p {
      margin: 0 0 10px 0;
      font-size: 16px;
      font-weight: 300;
    }

    .content {

      p {
        font-family: @oldstandard;
      }
    }

    .block {
      padding-bottom: 10px;
    }

    &:hover {
      border-left: 4px solid darken(#a0a0a0, 10%);
    }
  }

  &:hover {

    h4, p {
      color: @color-accent;
    }
  }
}

// VERSES
// ======

.verse {
  padding: 15px 0;

  blockquote {
    border: none;
    color: #acacac !important;
    display: block;
    font-size: 24px;
    line-height: 1.4;
    font-weight: 100;
    width: 65%;
    margin: 0 auto !important;

    cite {
      margin: 10px 0;
      color: #999;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

// DOCTRINE
// ========

.doctrine {
  margin-bottom: 40px;

  a {
    position: relative;
    display: block;
    background: @color-white;
    color: darken(@color-accent, 10%);
    .box-shadow(0 0 5px lighten(@color-black, 65%));
    min-height: 256px;

    h3 {
      color: darken(@color-white, 40%);
      margin-top: 0;
      padding-left: 15px;
      text-align: left;
      background: darken(@color-white, 2%);
      border-bottom: 1px solid darken(@color-white, 5%);
      text-shadow: 0 1px 0 rgba(255,255,255,1.0);
      font-family: @helvetica;
      font-weight: bold;
      font-size: 20px;
      text-transform: none;

      .badge {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
  }

  .summary {
    font-family: @oldstandard;
    font-size: 16px;
    text-align: left;
    color: lighten(@color-black, 20%);
    padding: 15px;
  }

  .right {
    position: absolute;
    bottom: 15px;
    right: 15px;
  }

  &:hover {
    * {
      color: @color-accent;
    }
    h3 {
      .badge {
        color: #fff;
      }
    }
    .pull-right {
      color: darken(@color-accent, 5%);
    }

  }
}

.wrapper-doctrine,
.wrapper-blog,
.wrapper-quotes,
.wrapper-studies,
.wrapper-books  {
  padding: 0 0 100px 0;

  .entry {

    .title-label {
      margin-top: 60px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #444;
      font-size: 16px;
    }

    h1 {
      font-size: 72px;
      text-align: center;
      font-weight: 300;
      margin: 20px 0 80px 0;
      color: #bbb;

      span {
        padding-bottom: 15px;
        border-bottom: 4px solid lighten(@color-gray-light, 3%);
      }
    }

    .summary {
      font-style: italic;
      color: #777;
      text-align: center;
      margin: 0 auto 40px auto;
      width: 75%;
      font-size: 24px;
      font-weight: 100px;
      line-height: 1.6;
    }

    .content {

      h2 {
        text-transform: uppercase;
        font-size: 28px;
        margin: 20px 0;
      }

      p {
        font-family: @oldstandard;
        font-size: 18px;
        line-height: 1.8;
        margin: 30px 0;
        font-weight: 300;
      }

      blockquote {
        color: #999;
      }

      ul {

        li {
          font-size: 16px;
          margin: 15px 0;
          font-weight: 300;
        }
      }
    }

  }
}

.wrapper-doctrine {
  margin-top: 30px;
}

// BLOG
// ====

.wrapper-blog {
  margin-top: 30px;

  .entry {

    h1  {
      font-family: @league;
      font-weight: normal;
      text-transform: uppercase;
      font-size: 64px;
      margin-top: 35px;
      margin-bottom: 0;
    }

    img {
      margin: 20px 0;
    }

    &.list {
      position: relative;
      display: block;
      background: @color-white;
      .box-shadow(0 0 6px rgba(0,0,0,0.05));
      margin-bottom: 40px;
      border: 1px solid darken(@color-white, 10%);


      .entry-header {


        h2 {
          font-size: 42px;
          padding: 20px 15px 5px 15px;
          margin: 0;
          font-family: @league;
          font-weight: normal;
          text-transform: uppercase;
          letter-spacing: 0.02em;

          .badge {
            position: relative;
            top: -10px;
            font-family: @helvetica;
            font-weight: bold;
            text-transform: none;
          }
        }

        h4 {
          font-size: 18px;
          color: darken(@color-white, 15%);
          font-weight: 300;
          padding: 0 15px;
          margin: -2px 0 10px 0;
          padding-bottom: 5px;
        }

      }

      p {
        color: lighten(@color-black, 25%);
        padding: 0 15px;
        margin: 10px 0;
      }

      blockquote {
        padding: 0 15px;
        margin: 15px;
      }

      .content {
        font-weight: 300;
        padding: 10px 15px;
        border-top: none;
        min-height: 180px;
      }

      img {
        margin: 0;
      }
    }

  }
}

// QUOTES
// ======

.wrapper-quotes {
  margin-top: 30px;

  .container {
    position: relative;
    .span6 {
      margin-bottom: 20px;
    }
  }

  .entry {

    h3 {
      margin-bottom: 0;
    }

  }
}

.quote {

  blockquote {
    background: #fff;
    border: 1px solid #ededec;
    border-left-width: 4px;

    h4 {
      margin: 0;
    }
    p {
      margin: 0 0 10px 0;
    }
  }

}

// STUDIES
// =======

.wrapper-studies {
  margin-top: 30px;

  .entry {

    h1 {
      margin-top: 40px;
      font-size: 48px;
    }

  }

}

// BOOKS
// =====

.book {
  position: relative;
  margin: 15px 0;
}

.ratings {
  font-size: 16px;
  padding: 7px 0 3px 0;
  margin: 0 0 0 0;
  border-top: 1px solid darken(@color-white, 5%);
  color: @color-accent;

  .light {
    color: lighten(@color-accent, 40%);
  }
}

.book-entry {
  text-align: center;

  h4 {
    margin-bottom: 5px;
    color: lighten(@color-black, 15%);
  }

  p {
    font-weight: 300;
    color: lighten(@color-black, 15%);
  }

  &:hover {

    .metadata {
      h4,
      p {
        color: @color-accent;
      }
    }
  }


  .metadata {
    background: -moz-linear-gradient(left, #ffffff 0%, rgba(255,255,255,0.85) 40%, rgba(255,255,255,0.85) 60%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(40%,rgba(255,255,255,0.85)), color-stop(60%,rgba(255,255,255,0.85)), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #ffffff 0%,rgba(255,255,255,0.85) 40%,rgba(255,255,255,0.85) 60%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #ffffff 0%,rgba(255,255,255,0.85) 40%,rgba(255,255,255,0.85) 60%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #ffffff 0%,rgba(255,255,255,0.85) 40%,rgba(255,255,255,0.85) 60%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to right, #ffffff 0%,rgba(255,255,255,0.85) 40%,rgba(255,255,255,0.85) 60%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    border-top: 1px solid #fff;
    position: absolute;
    display: block;
    margin: 0 15px;
    top: 150px;
    left: 5px;
    right: -5px;

    h4,
    p {
      color: #222;
      text-shadow: 0 1px 0 #fff;
    }

    p {
      margin-bottom: 0;
    }

    .soften {
      margin: 10px 0;
    }

    .ratings {
      margin-top: none;
      padding: 0 0 10px 0;
      text-shadow: 0 1px 0 rgba(255,255,255,0.75);
      border: none;

      .light {
        color: #999;
      }
    }

  }



}

.wrapper-books {
  margin-top: 30px;

  h3 {
    font-weight: 300;
  }

  .entry {
    margin-top: 30px;

    h2 {
      margin-bottom: 0;
    }

    h3 {
      font-weight: 300;
      margin-top: 0;
    }

    .ratings {
      font-size: 24px;
      border-bottom: 1px solid darken(@color-white, 5%);
      padding: 10px 0;
    }

    .content {

      h4 {
        position: relative;
        bottom: -15px;
      }
    }
  }

}


// ABOUT
// =====

.wrapper-about {
  margin-top: 30px;
}


// FOOTER
// ======

.footer {
  margin-top: 0;
  background: #333;
  color: darken(@color-white, 30%);

  .logo {
    text-align: left;
    margin-left: 5px;
    color: #202020;
    text-shadow: 0 1px 0 lighten(@color-black, 7%), 0 -1px 0 darken(@color-black, 10%);

    &:hover {
      color: @color-accent;
    }

    .icon-large {
      line-height: 30px;
      font-size: 54px;
    }
  }

  p {
    font-family: @oldstandard;
    font-size: 16px;
    color: darken(@color-black, 10%);
    text-shadow: 0 1px 0 lighten(@color-black, 5%);

    &.lead {
      color: rgb(179, 179, 179);
      margin-bottom: 10px;
    }

    .logo {

      &.icon-black {
        color: #202020;
        text-shadow: 0 1px 0 lighten(@color-black, 7%), 0 -1px 0 darken(@color-black, 10%);
      }
    }

    a {
      text-shadow: none;
    }
  }

  h5 {
    margin-top: 55px;
    color: @color-accent;
    text-transform: uppercase;
    font-weight: bold;
  }

  .inspiration {
    background-color: #333;
    border: none;
    padding: 0;

    blockquote {
      font-size: 16px;
      border: none;
      display: inline;
      text-align: left;
      font-weight: 300;
      padding-left: 0;
      padding-bottom: 5px;
    }

    cite {
      color: #111;
      display: block;
      margin-top: 10px;
      text-shadow: 0 1px 0 lighten(@color-black, 5%);
      font-weight: bold;
      text-transform: uppercase;
      text-align: left;
    }
  }

  .nav {
    border: none;

    &.nav-list {
      background-color: @color-black;
      .box-shadow(none);

      .nav-header {
        text-shadow: 0 1px 0 lighten(@color-black, 10%);
        color: #000;
      }

      li {
        a {
          font-weight: bold;
          text-transform: uppercase;
          border: none;
          .border-radius(0);
          margin: 5px 0;

          .badge {
            display: none;
            background: @color-accent;
            color: @color-black;
            text-shadow: none;
          }

          &:hover {
            color: @color-accent;
            background-color: #222;
          }
        }
      }
    }

  }

  hr {
    height: 1px;
    background: #222;
    border: none;
    border-bottom: 1px solid lighten(@color-black, 5%);

    &.special {
      margin-bottom: 60px;
      -webkit-mask-box-image:
      -webkit-linear-gradient(
          left,transparent, transparent 2%, white 5%, white 95%, transparent 98%);
    }

  }

}

// RESPONSIVE IMAGES
// =================

.span8 {

  img {
    width: 770px;
    height: 302px;
  }

}

// tablets and below

@media (max-width: 979px)  {

  .span8 {

    img {
      width: 639px;
      height: 251px;
    }

  }

}

// iPhone 5 landscape

@media (max-width: 640px)  {

  .span8 {

    img {
      width: 620px;
      height: 243px;
    }

  }

}

// iPhone Landscape

@media (max-width: 480px)  {

  .span8 {

    img {
      width: 460px;
      height: 180px;
    }

  }

}

// iPhone Portrait

@media (max-width: 320px) {

  .span8 {

    img {
      width: 300px;
      height: 118px;
    }

  }

}

// RESPONSIVE DESIGN
// =================

// Standard

@media (min-width: 980px) {

  body > .navbar .brand {
    position: relative;
    left: 0;
  }

  .navbar {

    .nav {

      li {
        font-size: 14px;
      }
    }
  }

}

// Wide Desktop

@media (min-width: 1200px) {

  body > .navbar .brand {
    position: relative;
    left: -5px;
  }

  .navbar {

    .nav {

      li {
        font-size: 18px;
      }
    }
  }

  .jumbotron {

    &.masthead {

      p {
        padding: 0 80px;
      }
    }
  }

}

// Tablets & Below

@media (max-width: 979px) {

  body > .navbar .brand {
    position: relative;
    top: 0px;
  }

  .jumbotron {

    &.masthead {
      padding: 60px 0;

      p {
        padding: 0 80px;

        &.vision {
          font-size: 24px;
        }
      }
    }
  }

}

// Tablet Portrait & Below

@media (max-width: 767px) {

  .stripe {

    &.first,
    &.second,
    &.third,
    &.fourth {
      background: @color-white;
    }
  }
}

// iPHONE 5

@media (max-width: 568px) {

  .jumbotron {

    &.masthead {

      p {
        padding: 0 30px;

        &.vision {
          font-size: 18px;
        }
      }
    }
  }

  .marketing {

    .marketing-byline {
      font-size: 16px;
      padding: 0;
    }

  }

}

// PRINT STYLESHEET
// ================

@media print {

  .navbar, .jumbotron, .footer, .related, .back-nav, .edit {
    display: none;
  }

  a[href]:after, abbr[title]:after {
    display: none;
  }

  // Don't show links for images, or javascript/internal links
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: none;
    border-left: 3px solid #ccc;
    page-break-inside: auto;
  }

  .wrapper-doctrine {

    .span12 {

      .span8 {
        width: 100%;

        &.offset2 {
          margin-left: 0;
        }
      }
    }
  }

  @page {
    margin: 1cm;
  }

}